<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nennig.vtglibrary.Pro"
    android:versionCode="1"
    android:versionName="3.0">

    <uses-sdk android:minSdkVersion="11"
         android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   

    <application android:name="com.nennig.vtglibrary.managers.VTGLibraryApplication" 
        android:icon="@drawable/ic_launcher" 
        android:label="VTG Pro"
        android:theme="@android:style/Theme.Holo.Light" >

        <activity android:name="com.nennig.vtglibrary.activities.MainActivity"
                  android:label="VTG Pro">
            <intent-filter android:label="VTG Pro" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nennig.vtglibrary.activities.SelectorActivity"
            android:label="Vulcan Tech Gospel Pro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nennig.vtglibrary.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.nennig.vtglibrary.activities.DetailViewActivity"
            android:label="Vulcan Tech Gospel Pro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nennig.vtglibrary.activities.SelectorActivity" />
        </activity>
        <activity android:name="com.nennig.vtglibrary.activities.VideoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nennig.vtglibrary.activities.DetailViewActivity" />
        </activity>
        <activity
            android:name="com.nennig.vtglibrary.activities.HTMLActivity"
            android:label="Vulcan Tech Gospel Pro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nennig.vtglibrary.activities.MainActivity" />
        </activity>
        <activity android:name="com.nennig.vtglibrary.activities.TipOfTheWkActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.nennig.vtglibrary.activities.MainActivity" />
        </activity>
    </application>

</manifest>
